{%- set marttiphpbb_topicsuffixtags_topic_id = topicrow.TOPIC_ID ?? searchresults.TOPIC_ID ?? -1 -%}
{%- if marttiphpbb_topicsuffixtags_tags[marttiphpbb_topicsuffixtags_topic_id] is defined -%}
    <span class="marttiphpbb-topicsuffixtags-topicrow">&nbsp;    
        {%- for t in marttiphpbb_topicsuffixtags_tags[marttiphpbb_topicsuffixtags_topic_id] -%}
            {%- if t.include is defined -%}
                {%- include t.include with {'var': t.var} only -%}
            {%- else -%}
                {{- t|raw -}}
            {%- endif -%}
        {%- endfor -%}
    </span>
{%- endif -%}
